#topheading {
  text-align: center;
}

ul {
  list-style-type: none;
  display: inline-table;
}

.reddit-img {
  height: 70px;
  width: 70px;
  padding: 20px;
}

.reddit-li {
  background-color: red;
  margin: 15px;
  text-align: center;
}

.reddit-a {

}
