body {
  background-color: #eaeffa;
}
#topheading {
  position: relative;
  font-size: 50px;
  text-align: center;
  border-color: grey;
  border-style: inset;
  border-width: 8px;
}

ul {
  list-style-type: none;
  margin-top: 100px;

}

.thumb-ups {
  color: red;
  position: relative;
  top: 30px;
  width: 10px;
  left: 20px;
  margin-right: 20px
  text-align: center;

}

.numbers {
  position: static;
  height: 20px;
  width: 20px;
}

.reddit-img {
  height: 90px;
  width: 90px;
  padding: 20px;
  margin: 30px;
  margin-left: 40px;
  position: inherit;

}

.reddit-li {
  height: 100px;
  width: 800px;
  margin: 15px;
  position: static;
  background-color: #adc2eb;
}

.reddit-a {
  position: relative;
  bottom: 110px;

}

.by-authors {
  position: relative;
  bottom: 110px;
}
