#topheading {
  position: relative;
  font-size: 50px;
  text-align: center;
  border-color: grey;
  border-style: inset;
  border-width: 8px;
}

ul {
  list-style-type: none;

}

.thumb-ups {
  color: red;
  position: relative;
  top: 120px;
  width: 10px;
  text-align: center;

}

.numbers {
  background-color: blue;
  height: 20px;
  width: 20px;
}

.reddit-img {
  height: 90px;
  width: 90px;
  padding: 30px;
  margin: 20px;
  position: sticky;

}

.reddit-li {
  height: 100px;
  width: 800px;
  margin: 15px;
  position: static;
}

.reddit-a {
  position: relative;
  bottom: 110px;

}

.by-authors {
  position: relative;
  bottom: 110px;
}
